<h2>Quenstion <b>1</b> of <b>10</b></h2>
<h2>Score: <strong>0</strong>p</h2>
<strong><%=@artists%></strong><br />

<h3>Lätta frågor</h3><br />
<%= link_to image_tag(@url_array_easy[0]), @easy_questions[0] %>
<p>Artist: <b><%= @easy_info[0]%></b>. Category: <b><%= @easy_info[1]%></b>.</p><br />

<%= link_to image_tag(@url_array_easy[1]), @easy_questions[1] %>
<p>Artist: <b><%= @easy_info[2]%></b>. Category: <b><%= @easy_info[3]%></b>.</p><br /><br />

<h3>Medel frågor</h3><br />
<%= link_to image_tag(@url_array_medium[0]), @medium_questions[0] %>
<p>Artist: <b><%= @medium_info[0]%></b>. Category: <b><%= @medium_info[1]%></b>.</p><br />

<%= link_to image_tag(@url_array_medium[1]), @medium_questions[1] %>
<p>Artist: <b><%= @medium_info[2]%></b>. Category: <b><%= @medium_info[3]%></b>.</p><br /><br />

<h3>Svåra frågor</h3><br />

<%= link_to image_tag(@url_array_hard[0]), @hard_questions[0] %>
<p>Artist: <b><%= @hard_info[0]%></b>. Category: <b><%= @hard_info[1]%></b>.</p><br />

<%= link_to image_tag(@url_array_hard[1]), @hard_questions[1] %>
<p>Artist: <b><%= @hard_info[2]%></b>. Category: <b><%= @hard_info[3]%></b>.</p><br />
 