<h3>Quenstion <b>1</b> of <b>10</b></h3>
<h3>Score: <strong>0</strong>p</h3>
<b>Lätta frågor</b><br />
<%= @artist1.name%><br />
<%= @artist2.name%><br /><br />
<b>Medel frågor</b><br />
<%= @artist3.name%><br />
<%= @artist4.name%><br /><br />
<b>Svåra frågor</b><br />
<%= @artist5.name%><br />
<%= @artist6.name%><br />
