<header>
	<!--Sidonavigation-->
	
	<nav id="navigation">
		<a href="root_path" id="logo"></a>
		<ul class="menu">
			<li><%= link_to "Home", root_path,:id=>"nav_home", :class=>"active"%></li>
			<li><%=link_to "Help", instructions_path, :id=>"nav_help"%></li>
			
			
			<!--Användrer session-helper medoden signed_in? för att kolla om användaren är inloggad eller inte.
				En inloggad användare får se en annan navigeringsmeny än en användare som inte är inloggad.-->
			<% if signed_in? %>
            <li><%= link_to "New", root_path,:id=>"nav_new" %></li>
            
            <li id="fat-menu" class="dropdown">
              <a href="#" id="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.username%> <b class="caret"></b>
              </a>
              <ul id="dropdown-menu">
                <li class="dropdownItem"><%= link_to "Profile", current_user, :class=>"dropdownLink"%></li>
                <br /><br />
                <li class="dropdownItem">
                  <%= link_to "Sign out", signout_path, method: "delete", :class=>"dropdownLink" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path,:id=>"nav_login"%></li>
          <% end %>
          
		</ul>
	</nav>
</header>
